<div class="forecast">
  <div class="forecast-arrows">
    <a href="#before" title="{{ 'BEFORE' | translate }}">
      <img class="d-inline-block" src="https://material-icons.github.io/material-icons/svg/arrow_back_ios/baseline.svg" alt="{{ 'BEFORE' | translate }}" />
    </a>
    <span>{{ this.nowDate }}</span>
    <a href="#after" title="{{ 'AFTER' | translate }}">
      <img class="d-inline-block" src="https://material-icons.github.io/material-icons/svg/arrow_forward_ios/baseline.svg" alt="{{ 'AFTER' | translate }}" />
    </a>
  </div>
</div>
