/* You can add global styles to this file, and also import other style files */
// Bootstrap & toaster styles
@import 'bootstrap/scss/mixins/border-radius';
@import 'bootstrap';
@import 'ngx-toastr/toastr-bs5-alert';

// Bootstrap Color-mode styles
:root {
  &[data-bs-theme='dark'] {
    a,
    button,
    footer,
    .navbar-brand,
    .nav-link {
      img {
        filter: invert(1);
      }
    }
    // Forecast
    .forecast {
      > .forecast-arrows,
      > .forecast-detail {
        background-color: rgba(0, 0, 0, 0.6);
      }
    }
  } /*
    &[data-bs-theme='auto'] {
  } */
  &[data-bs-theme='light'] {
    a,
    button,
    footer,
    .navbar-brand,
    .nav-link {
      img {
        filter: invert(0);
      }
    }
    // Forecast
    .forecast {
      > .forecast-arrows,
      > .forecast-detail {
        background-color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}

// Custom styles
:root,
body,
main {
  height: 100%;
}

main {
  a {
    cursor: pointer;
  }
  .bi {
    width: 1rem;
    height: 1rem;
    fill: currentcolor;
  }
  .bi-2x {
    width: 2rem;
    height: 2rem;
    fill: currentcolor;
  }
  .bi-3x {
    width: 2.3333rem;
    height: 2.3333rem;
    fill: currentcolor;
  }
  .btn-link:hover {
    background-color: var(--bs-secondary-bg);
  }
  // Particles canvas
  .canvas-background {
    position: absolute;
    z-index: -1;
  }
  // Forecast
  .forecast {
    > .forecast-arrows,
    > .forecast-detail {
      border: 2px white solid;
    }
    > .forecast-detail {
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
      padding: 0.15rem 0.25rem 0.25rem;
      width: 100%;
      text-align: center;
      .span {
        width: 100%;
      }
    }
  }
  // Header
  header {
    .color-modes {
      .dropdown-menu {
        padding: 0.25rem;
        li + li {
          margin-top: 0.125rem;
        }
      }
      .dropdown-item {
        @include border-radius(0.25rem);
      }
      .active {
        font-weight: 600;
        .bi {
          display: block !important;
        }
      }
    }
    .dropdown-menu {
      min-width: 2rem;
    }
    .form-floating {
      width: fit-content;
    }
    .navbar-toggler:focus {
      box-shadow: 0 0 0 1.5px;
    }
  }
  // Editor
  section {
    .container {
      position: relative;
      height: 100%;
    }
  }
  // Footer
  footer nav {
    background-image: none !important;
  }
}
