<!doctype html>
<html lang="" data-bs-theme="auto">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="description" content="" />
    <title></title>
    <link rel="icon" type="image/x-icon" href="../icons/favicon.ico" />
    <link rel="icon" type="image/png" href="../icons/icon-72x72.png" sizes="72x72" />
    <link rel="icon" type="image/png" href="../icons/icon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="../icons/icon-128x128.png" sizes="128x128" />
    <link rel="icon" type="image/png" href="../icons/icon-144x144.png" sizes="144x144" />
    <link rel="icon" type="image/png" href="../icons/icon-152x152.png" sizes="152x152" />
    <link rel="icon" type="image/png" href="../icons/icon-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="../icons/icon-384x384.png" sizes="384x384" />
    <link rel="icon" type="image/png" href="../icons/icon-512x512.png" sizes="512x512" />
    <link rel="apple-touch-icon" sizes="144x144" href="../icons/icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../icons/icon-144x144.png" />
    <link rel="manifest" href="manifest.webmanifest" />
    <meta name="theme-color" content="#1976d2" />
    <link rel="stylesheet" href="../styles/main.scss" />
  </head>
  <body>
    <app-root></app-root>
    <noscript>Please enable JavaScript to continue using this application.</noscript>
    <script src="../scripts/main.js" type="module"></script>
  </body>
</html>
