<nav class="navbar navbar-expand-lg p-0" role="menu">
  <div class="container-fluid">
    <div class="main-nav-menu order-0">
      <div class="dropup">
        <button type="button" class="btn btn-link m-0 p-0" id="dropdownFilesButton" data-bs-auto-close="false" data-bs-toggle="dropdown" aria-expanded="false">
          <img
            class="bi-2x d-inline-block p-0"
            src="https://icons.getbootstrap.com/assets/icons/code-slash.svg"
            alt="{{ 'FILES' | translate }}"
            title="{{ 'FILES' | translate }}"
          />
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownFilesButton">
          <li class="d-inline-flex nav-item text-end w-100" *ngFor="let file of files">
            <button (click)="handleFileDelete(file.id, file.name)" type="button" class="btn btn-link fileRemover mx-1 m-0 p-0">
              <img
                class="bi-2x d-inline-block p-0"
                src="https://icons.getbootstrap.com/assets/icons/x-lg.svg"
                alt="{{ 'DELETE_FILE' | translate: { name: file.name } }}"
                title="{{ 'DELETE_FILE' | translate: { name: file.name } }}"
              />
            </button>
            <a class="dropdown-item me-1 rounded" [class.active]="selectedFile ? selectedFile.id === file.id : false" (click)="handleFileSelection(file.id)">
              {{ file.name }}
            </a>
            <button
              *ngIf="selectedFile ? selectedFile.id === file.id : false"
              (click)="handleFileSelectionSave()"
              type="button"
              class="btn btn-link mx-1 my-0 p-0"
              id="fileSaver"
            >
              <img
                class="bi-2x d-inline-block p-0"
                src="https://icons.getbootstrap.com/assets/icons/floppy.svg"
                alt="{{ 'SAVE_FILE' | translate: { name: file.name } }}"
                title="{{ 'SAVE_FILE' | translate: { name: file.name } }}"
              />
            </button>
            <button
              *ngIf="selectedFile ? selectedFile.id === file.id : false"
              (click)="handleFileDownload()"
              type="button"
              class="btn btn-link fileDownloader me-1 my-0 p-0"
            >
              <img
                class="bi-2x d-inline-block p-0"
                src="https://icons.getbootstrap.com/assets/icons/file-earmark-arrow-down.svg"
                alt="{{ 'DOWNLOAD_FILE' | translate: { name: file.name } }}"
                title="{{ 'DOWNLOAD_FILE' | translate: { name: file.name } }}"
              />
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-nav-menu order-1">
      <label for="filesImport" class="btn btn-link form-label m-0 p-0" style="cursor: pointer">
        <img
          class="bi-2x d-inline-block p-0"
          src="https://icons.getbootstrap.com/assets/icons/box-arrow-in-up.svg"
          alt="{{ 'FILES_IMPORT' | translate }}"
          title="{{ 'FILES_IMPORT' | translate }}"
        />
      </label>
      <input class="d-none form-control form-control-sm ms-lg-5" id="filesImport" multiple type="file" />
    </div>
    <div class="main-nav-menu order-2">
      <label for="filesSelector" class="btn btn-link form-label m-0 p-0" style="cursor: pointer">
        <img
          class="bi-2x d-inline-block p-0"
          src="https://icons.getbootstrap.com/assets/icons/upload.svg"
          alt="{{ 'UPLOAD_FILES' | translate }}"
          title="{{ 'UPLOAD_FILES' | translate }}"
        />
      </label>
      <input class="d-none form-control form-control-sm ms-lg-5" id="filesSelector" multiple type="file" />
    </div>
    <button type="button" class="btn btn-link m-0 order-3 p-0">
      <img
        (click)="handleFilesExport()"
        class="bi-2x d-inline-block p-0"
        src="https://icons.getbootstrap.com/assets/icons/box-arrow-in-down.svg"
        alt="{{ 'FILES_EXPORT' | translate }}"
        title="{{ 'FILES_EXPORT' | translate }}"
      />
    </button>
    <button type="button" class="btn btn-link m-0 order-3 p-0" data-bs-target="#purgeFilesModal" data-bs-toggle="modal">
      <img
        class="bi-2x d-inline-block p-0"
        src="https://icons.getbootstrap.com/assets/icons/trash3.svg"
        alt="{{ 'PURGE_FILES' | translate }}"
        title="{{ 'PURGE_FILES' | translate }}"
      />
    </button>
    <div class="modal fade" id="purgeFilesModal" role="dialog" tabindex="-1" aria-labelledby="purgeFilesModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title fs-5" id="purgeFilesModalLabel">{{ 'ARE_YOU_SURE' | translate }}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="d-none modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal">{{ 'CLOSE' | translate }}</button>
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="handleFilesPurge()">{{ 'PURGE_FILES' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
