<nav class="navbar navbar-expand-lg p-0" role="menu">
  <div class="container-fluid">
    <div class="main-nav-menu order-0">
      <div class="dropup">
        <button
          type="button"
          class="btn btn-link m-0 p-0"
          id="dropdownFilesButton"
          data-bs-auto-close="false"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            class="bi-2x d-inline-block"
            src="https://material-icons.github.io/material-icons/svg/code/baseline.svg"
            alt="{{ 'FILES' | translate }}"
            title="{{ 'FILES' | translate }}"
          />
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownFilesButton">
          <li class="d-inline-flex nav-item text-end w-100" *ngFor="let file of files">
            <button
              *ngIf="selectedFile ? selectedFile.id === file.id : false"
              (click)="handleFileDelete()"
              type="button"
              class="btn btn-link m-0 p-0">
              <img
                class="bi-2x d-inline-block p-0"
                src="https://icons.getbootstrap.com/assets/icons/x-lg.svg"
                alt="{{ 'DELETE_FILE' | translate }}"
                title="{{ 'DELETE_FILE' | translate }}"
              />
            </button>
            <a class="dropdown-item rounded" [class.active]="selectedFile ? selectedFile.id === file.id : false" (click)="handleFileSelection(file.id)">
              {{ file.name }}
            </a>
            <button
              *ngIf="selectedFile ? selectedFile.id === file.id : false"
              (click)="handleFileSelectionSave()"
              type="button"
              class="btn btn-link mx-1 my-0 p-0">
              <img
                class="bi-2x d-inline-block p-0"
                src="https://icons.getbootstrap.com/assets/icons/floppy.svg"
                alt="{{ 'SAVE_FILE' | translate }}"
                title="{{ 'SAVE_FILE' | translate }}"
              />
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-nav-menu order-1">
      <label for="fileSelector" class="btn btn-link form-label m-0 p-0" id="fileSelectorLabel" style="cursor: pointer">
        <img
          class="bi-2x d-inline-block"
          src="https://icons.getbootstrap.com/assets/icons/upload.svg"
          alt="{{ 'UPLOAD' | translate }}"
          title="{{ 'UPLOAD' | translate }}"
        />
      </label>
      <input class="d-none form-control form-control-sm ms-lg-5" id="fileSelector" multiple type="file" />
    </div>
    <button type="button" class="btn btn-link m-0 order-2 p-0" id="downloadScriptButton" (click)="handleFileDownload()">
      <img
        class="bi-2x d-inline-block"
        src="https://icons.getbootstrap.com/assets/icons/file-earmark-arrow-down.svg"
        alt="{{ 'DOWNLOAD_SELECTED_FILE' | translate }}"
        title="{{ 'DOWNLOAD_SELECTED_FILE' | translate }}"
      />
    </button>
    <button type="button" class="btn btn-link m-0 order-3 p-0" data-bs-toggle="modal" data-bs-target="#deleteFilesModal" id="deleteFilesButton">
      <img
        class="bi-2x d-inline-block"
        src="https://icons.getbootstrap.com/assets/icons/trash3.svg"
        alt="{{ 'PURGE' | translate }}"
        title="{{ 'PURGE' | translate }}"
      />
    </button>
    <div class="modal fade" id="deleteFilesModal" tabindex="-1" aria-labelledby="deleteFilesModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title fs-5" id="deleteFilesModalLabel">{{ 'ARE_YOU_SURE' | translate }}</h3>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary me-auto" data-bs-dismiss="modal">{{ 'CLOSE' | translate }}</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="handleFilesPurge()">{{ 'PURGE' | translate }}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
