<ul class="navbar-nav mx-auto text-center" role="menu">
  <li class="nav-item">
    <div class="form-floating mx-auto">
      <select id="language-select" class="form-select w-auto">
        <option *ngFor="let language of codeEditorLanguages" [value]="language.id">{{ language.aliases ? language.aliases[0] : language.id }}</option>
      </select>
      <label for="language-select">{{ 'Select editor language' | translate }}</label>
    </div>
  </li>
  <li class="nav-item">
    <div class="form-floating ms-lg-5 mx-auto">
      <select id="theme-select" class="form-select theme-select w-auto">
        <option *ngFor="let theme of codeEditorThemes" [value]="theme.value">{{ theme.name }}</option>
      </select>
      <label for="theme-select">{{ 'Select editor theme' | translate }}</label>
    </div>
  </li>
</ul>
